<h2 class="text-center">Encuentra tutoriales en español de desarrollo web y móvil</h2>
<p class="text-center">Aprende paso a paso nuevas tecnologías</p>

<div class="col-xs-12 col-md-12 col-lg-12 size-content">
	<h3>Tutoriales basicos:</h3><br>
	<div class="col-xs-12 col-md-10 col-lg-10"> 	
	  	<% @posts.each do |post| %>
		  	<div class="col-xs-12 col-sm-12 col-md-4">
		      <div class="thumbnail">
		          <%= image_tag post.image.url, class: 'card-img-top' %>
		          <div class="caption">
		          	<h4><%= link_to post.title, post_path(post) %></h4>
		            <p><%= post.description %></p>
		          </div>
		      </div>
		    </div>
		<% end %>
	</div>
	<div class="col-xs-12 col-md-2 col-lg-2">
		<%= render 'sidebar' %>
	</div>
</div>
